.AdminTitreModifUtilisateur{
        background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 60%;
      height:100px;
      margin: auto;
      padding-top: 1%;
      margin-top: 15px;
      margin-bottom: 15px;
}

.AdminTitremodifService{

          background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 60%;
      height:100px;
      margin: auto;
      padding-top: 1%;
      margin-top: 15px;
      margin-bottom: 15px;
}


button.iconeDeleteAdmin{
height:45px;
width:35px;
}
button.iconeModifyAdmin{
height:45px;
width:35px;

}

 .iconeModifyAdmin{background-color: #ffe566;
    color: #22223b;
    border:2px solid #22223b;}

    .iconeDeleteAdmin{
     background-color: #ff6392;
     color:#22223b;
     border: 2px solid #22223b;
}

.spaceAdminUser{
    margin-inline-start: auto;
    margin-right: 60px;
}

.spaceAdminService{
     margin-inline-start: auto;
    margin-right: 60px;
}

.titreAdminUtilisateur{

      background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 50%;
      height:120px;
      margin: auto;
      padding-top: 30px;
      margin-bottom: 20px;
}

.titreAdminService{

    background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 40%;
      height:120px;
      margin: auto;
      padding-top: 30px;
      margin-bottom: 20px;
}