
.title-connect{
     background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 60%;
      height:120px;
      margin: auto;
      padding-top: 30px;
      margin-bottom: 20px;
}

.container.w-50{
    margin-right:80px;
}
.messageConnexion{
    color:#22223b;
    font-family: cursive;
    text-align: center;
    margin-left: 80px;
 
}

.container-form-connexion{

    background-color: #22223b;
    border: 3px solid #f0ad4e;
    border-radius: 12px;
    height:400px;
    width: 80%;
    margin: 0 auto;
 
}

.container.w-75.connexion{
padding-top: 100px;
   
}

