
.title-connect{
    font-size: 3em;
    color:#22223b;
   margin-top: 20px;
   margin-bottom: 30px;
}

.container.w-50{
    margin-right:80px;
}
.messageConnexion{
    color:#22223b;
    font-family: cursive;
    text-align: center;
    margin-left: 80px;
 
}