.mdp-title{
     background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 50%;
      height:120px;
      margin: auto;
      padding-top: 2%;
      margin-bottom: 20px;}

      
.container-form-reset{

    background-color: #22223b;
    border: 3px solid #f0ad4e;
    border-radius: 12px;
    height:100px;
    width: 80%;
    margin: 0 auto;
 
}


.container.w-75.reset{
padding-top: 20px;
   
}

.lien-mdp{

    text-align: center;
}

.email-info{
 color: #f0ad4e;
}

.lien-mdp{
height: 100px;
    width: 70%;
    background-color: #22223b;
   margin:0 auto;
   margin-bottom: 20px;
   color: #ffffff;
   text-align: center;
    border: 3px solid #f0ad4e;
    border-radius: 12px;
    font-size: 1.5em;
}


@media screen and (max-width:600px){
.lien-mdp{
    height:200px;
    width: 95%;
    margin: 0 auto;
 margin-bottom: 20px;
}

}

@media screen and (min-width:601px){
   .lien-mdp{
    height:150px;
    width: 95%;
    margin: 0 auto;
 margin-bottom: 20px;
}
 
}