.titleModif{
    background-color: #22223b;
   color: #f0ad4e;
     border: 3px solid #f0ad4e;
      border-radius: 12px;
       width: 50%;
      height:120px;
      margin: auto;
      padding-top: 2%;
      margin-bottom: 20px;
}
      
.container-form-modifPassword{

    background-color: #22223b;
    border: 3px solid #f0ad4e;
    border-radius: 12px;
    height:250px;
    width: 80%;
    margin: 0 auto;
 
}


.container.w-75.modifPassword{
padding-top: 40px;
   
}

.label-reset{
    color: #f0ad4e;
}